.root {
  margin-top: 20px;

  ul {
    list-style: none;

    li {
      display: inline-block;
      padding: 10px 15px;
      border: 1px solid #9afd8b;
      border-radius: 30px;
      font-size: 16px;
      font-weight: 600;
      color: #9afd8b;
      max-height: 44px;
      margin: 5px;
      transition: .1s ease-in-out;
      cursor: pointer;

      &:hover {
        color: #fff;
        background-color: #9afd8b;
      }
    }
    .selected {
      color: #fff;
      background-color: #9afd8b;
    }
  }
}

